/* Navigation
---------------------------------*/

nav[role=navigation] {
	
}

nav[role=navigation] .menu {

}

nav[role=navigation] .menu ul { 
}

nav[role=navigation] .menu ul li {
	float: left;
}

nav[role=navigation] .menu ul li a { 
	padding: 5px 20px;
	display: block; 
	text-decoration: none;
}

nav[role=navigation] .menu ul li a:hover { 

}

nav[role=navigation] .menu ul li:first-child a {}

nav[role=navigation] .menu ul li.current-menu-item a, 
nav[role=navigation] .menu ul li.current_page_item a,
nav[role=navigation] .menu ul li.current-page-ancestor a {}

/* Sub menus */
nav[role=navigation] .menu ul li ul, nav[role=navigation] .menu ul li ul li ul { 
	position: absolute; 
	left: -9999em; 
	z-index: 9999; 
	width: auto; 
}
nav[role=navigation] .menu ul li ul li ul { 
	margin-left: 200px; 
	top: auto; 
	margin-top: -30px; 
}
nav[role=navigation] .menu ul li ul li:hover ul, nav[role=navigation] .menu ul li:hover ul { 
	left: auto; 
}
nav[role=navigation] .menu ul li ul li a { 
	width: auto; 
}

nav[role=navigation] .menu ul li ul li a {}

nav[role=navigation] .menu ul li ul li a:hover {}

nav[role=navigation] .menu ul li ul li:last-child a {}

nav[role=navigation] .menu ul li ul li ul.sub-menu { }

nav[role=navigation] .menu ul li ul li:hover ul.sub-menu { }
