/* Sidebar
---------------------------------*/

.widget { 
	
	li { 
		margin-bottom: 0.75em; 
		
		ul {
			margin-top: 0.75em; 
			padding-left: 1em;
		}
	}
	
	.widgettitle { 
		margin-bottom: 0.75em; 
	}
}